@page "/Test"

<div class="col">

    <TestNumberSelector NumRange="@NumbersToSelectFrom" OnNumberSelected="@OnNumberSelectedCallback" />

    <p>Selected Number: @SelectedNumber</p>

    <TestChildComponent Numbers="FilteredNumbers" />
</div>

@code {
    int? SelectedNumber { get; set; } = 4;

    List<int> NumbersToSelectFrom { get; set; } = Enumerable.Range(1, 10).ToList();

    List<int> AllNumbers { get; set; }
    List<int> FilteredNumbers
    {
        get
        {
            var filtered = AllNumbers;

            if (SelectedNumber != null )
            {
                filtered = AllNumbers.Where(n => n % SelectedNumber == 0).ToList();
            }            

            return filtered;
        }
    }

    void OnNumberSelectedCallback(int number)
    {
        SelectedNumber = number;
    }


    protected override void OnInitialized()
    {
        AllNumbers = Enumerable.Range(1, 40).ToList();
    }
}