<h3>Numbers divisible by the selected number </h3>
<ul>
    @foreach (var num in Numbers)
    {
        <li>@num</li>
    }
</ul>

@code {

    [Parameter]
    public List<int> Numbers { get; set; }
}
